<DOCTYPE! html>
<head>
	<title>Ruby on rails site</title>
	<meta name="viewport" content="width=device, intial-scale=1">
	<link href="cssRails.css" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
</head>
	<div class="navbar">
        <img class="rubyLogo" <%= image_tag 'rubyLogo.jpg'%>
		<ul class="navBarUl">
			<li class="navBarLi">Home</li>
			<li class="navBarLi">Where</li>
        <%= link_to about_path do %>
			<li class="navBarLi" onclick="">About</li>
        <% end %>
		</ul>
	</div>
	<div>
<html>